.git
.github
.idea
.vscode

node_modules
vendor

tests
.env
.env.*
!.env.example

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/.app_key
storage/pail
storage/postman

compose.yml
compose.*.yml
docker-compose.override.yml
Dockerfile
.dockerignore

nixpacks.toml
frankenphp

public/build
public/hot

*.md
!README.md

_ide_helper.php
_ide_helper_models.php
.phpunit.result.cache
.phpunit.cache

.gitignore
dist
